# Dependencies
node_modules

# !! Environmental variables !!
.env
.env.*
!.env.example

# OS garbadge
.DS_Store

# Logs
logs
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*

# Personal resources
.idea

# Auto generated
.next
**/generated/**/*

# Keep folders with .gitkeep
!.gitkeep
