# Dependencies
node_modules

# Production build
/dist

# Auto generated (next, nexus, prisma)
.next
**/*/generated
**/*/prisma/migrations

# Developer notes
.idea

# !! Environmental variables !!
.env
.env.*

# OS garbadge
.DS_Store

# Logs
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*

# Didn't get around to get `docker-compose` working in Windows after many trials.
# Keep the related files away for a while...
.docker
docker-compose.yml

# Testing files: next to come...
cypress
cypress.json
